[submodule "Example/Vendor/SPGooglePlacesAutocomplete"]
	path = Example/Vendor/SPGooglePlacesAutocomplete
	url = https://github.com/spoletto/SPGooglePlacesAutocomplete.git
[submodule "Example/Vendor/SVProgressHUD"]
	path = Example/Vendor/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD
